body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  margin: 0;
  background-image: url('background1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  font-family: 'Cute Font', sans-serif;
  font-size: 20px;
}

 h3#some-text {
    position: absolute;
    top: 0;
    left: 30%;
    transform: translateX(-50%);
    padding: 5px;
    box-shadow: 5px -1px 41px -2px rgba(191,77,48,1);
    animation: pulsate 2s infinite; /* Dodana animacja */
  white-space: nowrap;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 10;
  display: none;
}
@keyframes pulsate {
  0% {
    transform: scale(1) translateX(0); /* Bez przesunięcia na początku */
    font-size: 25px;
  }
  50% {
    transform: scale(1.2) translateX(-10px); /* Przesunięcie w lewo o 20 pikseli w połowie animacji */
    font-size: 35px;
  }
  100% {
    transform: scale(1) translateX(0); /* Powrót do początkowego położenia */
    font-size: 25px;
  }
}

.container {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 160px);
  grid-template-rows: repeat(5, 160px);
  gap: 20px;
}

.cell {
  width: 160px;
  height: 160px;
  border: 3px solid rgb(0, 0, 0);
  display:flex ;
  align-items: top;
  justify-content: top;
  font-size: 20px;
  overflow: hidden;
  background-position: center;
  background-size:cover;
  color: rgb(255, 255, 255);
  
  
}

.highlighted {

  font-size: larger;
  color: red;
  /* background-image: url(Postaci/postac1.png) !important; */
}


.stats {

  font-size: 30px;
  padding-left: 20px;
  margin-top: 220px;
  margin-left: 30px;
  background-color: #124348;
  opacity: 80%;
  width: 300px;
  height: 335px;
  font-weight: bold;
  color: rgba(218, 214, 204, 0.91);
}
.stats p{
  text-align: center;
}
.stats h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: red;
  text-align: center;
}

.stats div {
  margin-bottom: 8px;
}




